<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>

			<service name="SensorServiceHost.SensorService">

				<endpoint
					address=""
					binding="netTcpBinding"
					contract="SensorContracts.ISensorService" />

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/SensorService"/>
					</baseAddresses>
				</host>

			</service>

		</services>
	</system.serviceModel>
</configuration>