<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="V_threshold" value="50"/>
		<add key="T_dht_threshold" value="5"/>
		<add key="T_bmp_threshold" value="5"/>
		<add key="MeanDeviationPercent" value="0.25"/>
	</appSettings>
	<system.serviceModel>
		<services>

			<service name="SensorServiceHost.SensorService">

				<endpoint
					address=""
					binding="netTcpBinding"
					contract="SensorContracts.ISensorService" />

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/SensorService"/>
					</baseAddresses>
				</host>

			</service>

		</services>
	</system.serviceModel>
</configuration>