<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding" />
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint
				address="net.tcp://localhost:9000/SensorService"
				binding="netTcpBinding"
				bindingConfiguration="tcpBinding"
				contract="SensorContracts.ISensorService"
				name="SensorEndpoint"/>
		</client>
	</system.serviceModel>
</configuration>